In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [4]:
housing= pd.read_csv("Housing.csv")

In [5]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
# number of observations
len(housing.index)

545

In [7]:
housing.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [8]:
housing.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [9]:
#filter only the number columns
df=housing.loc[:, [ 'price', 'area','bedrooms', 'bathrooms', 'stories', 'parking']]

In [10]:
# recaling the variables (both)
#df_columns = df.columns
scaler = MinMaxScaler()
housing[['price']] = scaler.fit_transform(housing[['price']])
housing[['area']] = scaler.fit_transform(housing[['area']])
housing[['bedrooms']] = scaler.fit_transform(housing[['bedrooms']])
housing[['stories']] = scaler.fit_transform(housing[['stories']])
housing[['parking']] = scaler.fit_transform(housing[['parking']])

In [11]:
# rename columns (since now its an np array)
#df = pd.DataFrame(df)
#df.columns = df_columns

housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,1.000000,0.396564,0.6,2,0.666667,yes,no,no,no,yes,0.666667,yes,furnished
1,0.909091,0.502405,0.6,4,1.000000,yes,no,no,no,yes,1.000000,no,furnished
2,0.909091,0.571134,0.4,2,0.333333,yes,no,yes,no,no,0.666667,yes,semi-furnished
3,0.906061,0.402062,0.6,2,0.333333,yes,no,yes,no,yes,1.000000,yes,furnished
4,0.836364,0.396564,0.6,1,0.333333,yes,yes,yes,no,yes,0.666667,no,furnished

In [12]:
# list of all the "yes-no" binary categorical variables
# we'll map yes to 1 and no to 0
binary_vars_list =  ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

In [13]:
#, 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']]
#print(type(y))
#print(y)

from sklearn.preprocessing import LabelEncoder
label_encode=LabelEncoder()
le = LabelEncoder()
housing['mainroad']=le.fit_transform(housing['mainroad'])
housing['guestroom']=le.fit_transform(housing['guestroom'])
housing['basement']=le.fit_transform(housing['basement'])
housing['hotwaterheating']=le.fit_transform(housing['hotwaterheating'])
housing['airconditioning']=le.fit_transform(housing['airconditioning'])
housing['prefarea']=le.fit_transform(housing['prefarea'])
housing['furnishingstatus']=le.fit_transform(housing['furnishingstatus'])
print(housing.head())

      price      area  bedrooms  bathrooms   stories  mainroad  guestroom  \
0  1.000000  0.396564       0.6          2  0.666667         1          0
1  0.909091  0.502405       0.6          4  1.000000         1          0
2  0.909091  0.571134       0.4          2  0.333333         1          0
3  0.906061  0.402062       0.6          2  0.333333         1          0
4  0.836364  0.396564       0.6          1  0.333333         1          1

   basement  hotwaterheating  airconditioning   parking  prefarea  \
0         0                0                1  0.666667         1
1         0                0                1  1.000000         0
2         1                0                0  0.666667         1
3         1                0                1  1.000000         1
4         1                0                1  0.666667         0

   furnishingstatus
0                 0
1                 0
2                 1
3                 0
4                 0

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
# split into train and test
X_train, X_test, y_train,y_test = train_test_split(housing.drop('price',axis=1), housing['price'],
                                     train_size = 0.7,
                                     test_size = 0.3,
                                     random_state = 10)
print(len(X_train))
print(len(X_test))

381
164

In [16]:
lm = LinearRegression()
lm.fit(X_train,y_train)
predictions = lm.predict(X_test)

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2 = r2_score(y_test, predictions)
print('r2 score for perfect model is', r2*100)

r2 score for perfect model is 74.23841080454436